footer {
    height: 8rem;
    width: 100%;
    padding: 24px 8%;
    background-color: #D99871;
}

#socials {
    display: flex;
    justify-content: center;
}

#socials_list {
    display: flex; 
    gap: 100px;
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.socials_list-item a {
    text-decoration: none; 
    color: #fff; 
    font-size: 1em;
    transition: color 0.3s ease;
}

.socials_list-item a:hover {
    color: #865151; 
}