header {
    width: 100%;
    padding: 28px 8%;
    background-color: #D99871;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    font-weight: bold;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 100px;
}

.nav-item a {
    text-decoration: none;
    color: #653E3E;
    font-weight: 600;
}

.nav-item a:hover {
    color: #9D7676;
}

.nav-item a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #9D7676;
    transition: width 0.3s ease;
}

.nav-item a:hover::after {
    width: 100%;
}